.ant-row.ant-row-flex-start {
    .messagebody {
        .messageDate {
            position: absolute;
            bottom: 0;
            right: 0;
            p {
                font-size: 10px;
                color: #000000ad;
            }
        }
    }
}

.ant-row.ant-row-flex-end {
    .messagebody {
        .messageDate {
            position: absolute;
            bottom: 0;
            left: 0;
            p {
                font-size: 10px;
                color: #000000ad;
            }
        }
    }
}

.messageWrapper {
    padding-bottom: 21px;
    position: relative;
    .messagebody {
        min-width: 81px;
        max-width: 300px;
        border-radius: 26px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #fff;
        border: 1px solid #E8E4E4;
        overflow: hidden;
        p {
            margin: 0;
            color: black;
            word-break: break-all;
        }
        @media screen and (max-width: 800px) {
            p {
                font-size: 14px;
            }
            max-width: 226px;
        }
    }
}

.ant-row.ant-row-flex-end {
    .messagebody {
        background-color: #E8E4E4 !important;
        font-family: Roboto;
    }
}

.messageItem {
    display: flex;
    margin-bottom: 20px;
    svg {
        max-height: 34px;
        max-width: 34px;
    }
    img {
        max-width: 282px;
        padding: 0px;
    }
    @media screen and (max-width: 800px) {
        img {
            max-width: 200px;
        }
    }
    .ant-avatar.ant-avatar-icon {
        margin-right: 10px !important;
        margin-left: 10px !important;
    }
    .imgItem {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 10px;
        cursor: pointer;
        transition: 0.3s all ease;
        &:hover {
            opacity: 0.75
        }
        img {
            visibility: hidden;
        }
    }
}