.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__top {
    text-align: center;

    h2 {
      font-family: Raleway-Medium;
      font-size: 24px;
    }

    p {
      font-family: Raleway-Medium;
      font-size: 18px;
      color: #8C8CA2;
      margin-bottom: 0;
    }

    h1 {
font-family: Raleway-Bold;
      font-size: 48px;
    }

    margin-bottom: 50px;
  }

  &__register-link {
    font-size: 16px;
    color: #ADADAD;
    display: flex;
    justify-content: center;
  }

  .mainBlock {
    width: 430px;
  }
}