.previewImg {
    display: flex;
    padding: 10px;
    .closeButton {
        background: white;
        position: absolute;
        right: 10px;
        height: 20px;
        width: 20px;
        font-size: 10px;
        transition: 0.3s all ease;
        cursor: pointer;
        span {
            font-size: 15px;
            display: flex;
            justify-content: center;
        }
        &:hover {
            opacity: 0.75;
        }
    }
}