@mixin paddings__dialogs() {
    padding: 10px;
}

.dialogs {
    position: relative;
    z-index: 1;
    // overflow: hidden;
    .header__dialogs {
        background-color: #ffffff;
        @include paddings__dialogs();
        height: 70px;
    }
    .SearchDialogs__dialogs {
        background-color: #fff;
        @include paddings__dialogs();
    }
    .ListDialogs__dialogs {
        background-color: #ffffff;
        @include paddings__dialogs();
        overflow: auto;
        .ListDialogs__dialogs__height {
            height: 70vh;
            width: 100%;
        }
    }
    .FooterDialogs__dialogs {
        height: 68px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 10px;
    }
}